html {
    font-size: 16px;
}

body {
    font-family: Inter;
    margin: 0;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    border: 1px solid hsl(0, 0%, 12%);
    border-radius: 10px;
    background-color: darkorange;

    height: 37.5rem;
    width: 22rem;
}

.info .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info .bio img {
    border-radius: 50%;

    height: 6rem;
    width: 6rem;

    margin-top: 3rem
}

.info .bio  h2,
.info .bio p
{
    color: white;
}


.info .bio p {
    font-size: 0.9rem;
    font-weight: bold;
}

.info .bio h2 {
    font-weight: 600;
    margin-bottom: 0;
}

.info ul {
    list-style-type: none;
}

.info ul a {
    text-decoration: none;
    
}

.info ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: black;
    color: white;

    margin-bottom: 0.8rem;

    font-weight: 600;
    font-size: 0.9rem;

    height: 2.5rem;
    width: 17.5rem;

    transition: background-color 0.5s ease;
}

.info ul li:hover {
    background-color: green;
}